body {
  background-color: #f1f1f1;
}

.container {
  max-width: 200rem;
  margin: 0 auto;

  .select-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;

    select {
      border-color: #f7f7f7;
      padding: 0.3rem;
      margin-left: 0.5rem;
    }
  }

  .no-results {
    text-align: center;
    margin: 1rem;
  }
  .movies {
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    width: 95%;

    .movie-item {
      width: 18.8%;
      background-color: #fff;
      box-shadow: 2px 2px 2px #f9f9f9;
      margin: 1rem 0.5rem;
      display: flex;
      border-radius: 0.5rem;
      color: #333;
      text-decoration: none;
      cursor: pointer;

      &.liked {
        background-color: #0d253f;
        color: #fff;
      }

      @media (max-width: 500px) {
        width: 100%;
      }

      a {
        flex: 1;

        img {
          border-radius: 0.3rem;
        }
      }

      .content {
        flex: 1;
        padding-left: 0.5rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .icon-container {
          align-self: flex-end;
          padding-right: 0.3rem;
          padding-bottom: 0.3rem;
          cursor: pointer;

          svg {
            position: relative;
            z-index: 1000;
          }
        }

        p {
          font-size: 0.8rem;
        }
      }
    }
  }
}
